@font-face {
    font-family: 'Metropolis';
    src: url('//www.boat-lifestyle.com/cdn/shop/t/157/assets/Metropolis-Thin.woff?v=160165370098837172201680081272') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis';
    src: url('//www.boat-lifestyle.com/cdn/shop/t/157/assets/Metropolis-ThinItalic.woff?v=13104683106829815571680081273') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis';
    src: url('//www.boat-lifestyle.com/cdn/shop/t/157/assets/Metropolis-ExtraLight.woff?v=129899916713524791971680081260') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis';
    src: url('//www.boat-lifestyle.com/cdn/shop/t/157/assets/Metropolis-ExtraLightItalic.woff?v=94073098737064755101680081261') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis';
    src: url('//www.boat-lifestyle.com/cdn/shop/t/157/assets/Metropolis-Light.woff?v=59258578946915361201680081262') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis';
    src: url('//www.boat-lifestyle.com/cdn/shop/t/157/assets/Metropolis-LightItalic.woff?v=65768520084296197291680081263') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis';
    src: url('//www.boat-lifestyle.com/cdn/shop/t/157/assets/Metropolis-Regular.woff?v=149387778861865817841680081267') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis';
    src: url('//www.boat-lifestyle.com/cdn/shop/t/157/assets/Metropolis-RegularItalic.woff?v=67548850863250264651680081268') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis';
    src: url('//www.boat-lifestyle.com/cdn/shop/t/157/assets/Metropolis-Medium.woff?v=46200792291647091211680081265') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis';
    src: url('//www.boat-lifestyle.com/cdn/shop/t/157/assets/Metropolis-MediumItalic.woff?v=6674391994988486361680081266') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis';
    src: url('//www.boat-lifestyle.com/cdn/shop/t/157/assets/Metropolis-SemiBold.woff?v=146713148714939632341680081269') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis';
    src: url('//www.boat-lifestyle.com/cdn/shop/t/157/assets/Metropolis-SemiBoldItalic.woff?v=175119764213380940871680081270') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis';
    src: url('//www.boat-lifestyle.com/cdn/shop/t/157/assets/Metropolis-Bold.woff?v=90035020776352744831680081256') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis';
    src: url('//www.boat-lifestyle.com/cdn/shop/t/157/assets/Metropolis-BoldItalic.woff?v=127271925393406229661680081257') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis';
    src: url('//www.boat-lifestyle.com/cdn/shop/t/157/assets/Metropolis-ExtraBold.woff?v=156835087065481645901680081258') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis';
    src: url('//www.boat-lifestyle.com/cdn/shop/t/157/assets/Metropolis-ExtraBoldItalic.woff?v=90153951049794732721680081259') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis';
    src: url('//www.boat-lifestyle.com/cdn/shop/t/157/assets/Metropolis-Black.woff?v=135982192064750420791680081254') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis';
    src: url('//www.boat-lifestyle.com/cdn/shop/t/157/assets/Metropolis-BlackItalic.woff?v=10887808228386970211680081255') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

